.breadcrumb {
  padding-top: 50px;
  padding-bottom: 40px;
  background: url("../asset/images/breadcrumb.jpg") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: white; }
  .breadcrumb h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Cairo',sans-serif;
    font-weight: 900; }
  .breadcrumb small {
    font-size: 15px; }
    .breadcrumb small span {
      font-weight: 600;
      margin-right: 10px; }

.sale__header {
  display: inline;
  font-family: Cairo, sans-serif;
  font-size: 40px;
  font-weight: 900;
  border-bottom: 4px solid #ddd; }

.sale {
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd; }
  .sale .featured__card {
    height: 270px; }
    .sale .featured__card img {
      object-fit: cover;
      height: 270px; }
  .sale .owl-dot {
    outline: none; }

.filter-product__tittle {
  color: #888;
  font-size: 15px; }

.filter-product .nice-select {
  float: none;
  border: none;
  font-weight: bold; }

.filter-product .nice-select:after {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 7px;
  width: 7px;
  top: 45%; }

.filter-product__result {
  font-size: 15px;
  line-height: 36px;
  color: #ccc;
  white-space: nowrap; }
  .filter-product__result span {
    color: black;
    font-weight: bold;
    margin-right: 10px; }

.filter-product__icon {
  font-family: "elegant-icons";
  line-height: 10px;
  font-size: 25px;
  color: #aaa; }
  .filter-product__icon > span:hover {
    color: #7fad39; }

.sale-all-product .featured__card img {
  width: 100%; }

.product__pagination {
  display: flex; }
  .product__pagination li {
    border: 1px solid #b2b2b2;
    margin-right: 20px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    transition: all .3s; }
    .product__pagination li a {
      color: #b2b2b2;
      transition: color .3s; }
    .product__pagination li:hover {
      border-color: #7fad39;
      background: #7fad39; }
      .product__pagination li:hover a {
        color: white; }

.aside__content__nav h4, .aside__price__filter h4, .aside__color__filter h4, .aside__size__product h4 {
  font-family: Cairo, sans-serif;
  font-weight: 900;
  font-size: 25px; }

.aside__content__nav li {
  margin-top: 18px;
  font-size: 15px; }

.aside__price__filter .noUi-base {
  height: 5px; }

.aside__price__filter .noUi-horizontal {
  height: 7px; }

.aside__price__filter .noUi-target {
  background: #ebebeb;
  border: none; }

.aside__price__filter .noUi-handle {
  top: -6px;
  right: -9px;
  border-radius: 50%;
  width: 15px;
  height: 15px; }

.aside__price__filter .noUi-connect {
  background: #dd2222; }

.aside__price__filter .noUi-handle:after, .aside__price__filter .noUi-handle:before {
  all: unset; }

.aside__price__filter > ul {
  display: flex; }
  .aside__price__filter > ul > li {
    color: #dd2222;
    font-weight: bold; }
  .aside__price__filter > ul span {
    margin: 0 10px; }

.aside__color__filter > div {
  display: flex; }
  .aside__color__filter > div > ul {
    margin-right: 30px; }
    .aside__color__filter > div > ul li {
      margin-bottom: 11px;
      font-size: 15px; }
    .aside__color__filter > div > ul span {
      width: 14px;
      height: 14px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 16px; }
      .aside__color__filter > div > ul span.aside__color__filter--white {
        background-color: white;
        border: 2px solid black; }
      .aside__color__filter > div > ul span.aside__color__filter--red {
        background-color: #d62d2d; }
      .aside__color__filter > div > ul span.aside__color__filter--blue {
        background-color: #249bc8; }
      .aside__color__filter > div > ul span.aside__color__filter--gray {
        background-color: #e9a625; }
      .aside__color__filter > div > ul span.aside__color__filter--black {
        background-color: #252525; }
      .aside__color__filter > div > ul span.aside__color__filter--green {
        background-color: #3cc032; }

.aside__size__product button {
  background: #f5f5f5;
  padding: 6px 20px;
  font-size: 12px;
  font-family: 'Open Sans',sans-serif;
  color: #aaa;
  border: none;
  outline: none; }

.aside__lastest-product button.owl-control-prev, .aside__lastest-product button.owl-control-next {
  top: -19% !important;
  background-color: #fefefe !important;
  width: auto;
  height: auto;
  padding: 5px; }
  .aside__lastest-product button.owl-control-prev i, .aside__lastest-product button.owl-control-next i {
    color: black; }
