html {
  font-family: 'Open Sans', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow: auto;
  margin-bottom: 100px; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

.banner__image__content button {
  padding: 10px 27px;
  background: #7fad39;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif; }

.header ul {
  display: flex; }

.header__top {
  background: #f5f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
  position: relative; }
  .header__top .col-lg-6 {
    padding: 0; }
  .header__top__item {
    display: flex;
    padding: 0 20px; }
    .header__top__item:not(:last-child) {
      border-right: 1px solid #b2b2b2; }
    .header__top__item .fa-envelope {
      margin-right: 10px;
      line-height: 20px; }
    .header__top__item__icons li:not(:last-child) {
      margin: 0 12px; }
    .header__top__item__icons a {
      color: black; }
    .header__top__item .fa-user {
      margin-right: 10px;
      line-height: 20px; }
    .header__top__item__language {
      position: relative;
      z-index: 4; }
      :hover > .header__top__item__language__dropdown {
        visibility: visible;
        opacity: 1;
        top: 120%;
        background-color: black; }
      .header__top__item__language__dropdown {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        position: absolute;
        top: 300%;
        left: 20px;
        background-color: black;
        color: white;
        width: 70%;
        transition: all 0.3s ease;
        padding: 10px; }
        .header__top__item__language__dropdown li:first-child {
          padding-bottom: 8px; }
      .header__top__item__language img {
        margin-right: 10px; }
      .header__top__item__language i {
        font-size: 15px;
        line-height: 20px;
        margin-left: 15px; }
  .header__top__items:first-child {
    margin-left: -20px; }
  .header__top__items:last-child {
    transform: translateX(40px); }

.header__bottom {
  height: 80px; }
  .header__bottom__wrapper {
    align-items: center;
    height: 100%; }
    .header__bottom__wrapper .col-lg-9 {
      padding-right: 0; }
  .header__bottom .toggle {
    border: 1px solid black;
    font-size: 24px;
    line-height: 26px;
    padding: 5px;
    padding-bottom: 2px;
    background-color: white;
    outline: none;
    cursor: pointer; }
  .header__bottom__nav li {
    display: inline;
    margin-right: 30px;
    font-weight: 900;
    font-size: 14px;
    font-family: Cairo,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.3s ease; }
    .header__bottom__nav li.active a, .header__bottom__nav li:hover a {
      color: #7fad39;
      transition: all 0.3s ease; }
  .header__bottom__cart, .sidebar__menu__cart {
    display: flex; }
    .header__bottom__cart > div:not(:last-child), .sidebar__menu__cart > div:not(:last-child) {
      position: relative;
      margin-right: 15px; }
    .header__bottom__cart > div:last-child, .sidebar__menu__cart > div:last-child {
      margin-left: 15px; }
    .header__bottom__cart .amount, .sidebar__menu__cart .amount {
      position: absolute;
      right: -5px;
      top: -15px;
      display: inline-block;
      width: 15px;
      height: 15px;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      color: white;
      border-radius: 50%;
      background: #7fad39;
      transform: translate(50%, 50%); }
    .header__bottom__cart p, .sidebar__menu__cart p {
      font-size: 13px; }
      .header__bottom__cart p span, .sidebar__menu__cart p span {
        font-weight: bold; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 2000;
  transition: visibility 0s,opacity .3s;
  opacity: 0; }
  .sidebar__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .sidebar__menu {
    padding: 30px;
    position: absolute;
    top: 0;
    transform: translateX(-300px);
    bottom: 0;
    width: 300px;
    background: white;
    transition: all .3s ease-in-out; }
    .sidebar__menu .logo {
      margin-top: 22px;
      margin-bottom: 24px; }
    .sidebar__menu .wrapper {
      display: flex;
      font-size: 13px;
      margin-top: 27px; }
      .sidebar__menu .wrapper > li + li {
        border-left: 1px solid #b2b2b2; }
    .sidebar__menu__language {
      display: flex;
      align-items: flex-start;
      position: relative; }
      .sidebar__menu__language > img {
        transform: translateY(3px);
        margin-right: 6px; }
      .sidebar__menu__language > p {
        margin-left: 3px;
        margin-right: 7px; }
      .sidebar__menu__language > i {
        margin-right: 23px;
        transform: translateY(3px); }
      .sidebar__menu__language__dropdown {
        position: absolute;
        top: 100%;
        transform: translateY(100%);
        left: 0;
        background-color: #000;
        color: white;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity .5s,transform .5s;
        padding: 8px;
        width: 80%; }
        .sidebar__menu__language__dropdown > li + li {
          margin-top: 6px; }
      .sidebar__menu__language:hover .sidebar__menu__language__dropdown {
        transform: translateY(0);
        opacity: 1;
        visibility: visible; }
    .sidebar__menu__dropdown, .sidebar__menu__dropdown .slicknav_nav {
      font-size: 15px;
      margin-top: 35px; }
      .sidebar__menu__dropdown > li, .sidebar__menu__dropdown .slicknav_nav > li {
        border-bottom: 1px solid #b2b2b2;
        padding: 7px 0;
        font-weight: 600;
        transition: all 0.3s ease; }
        .sidebar__menu__dropdown > li:hover > a, .sidebar__menu__dropdown .slicknav_nav > li:hover > a {
          color: #7fad39; }
      .sidebar__menu__dropdown .slicknav_nav {
        margin: 0; }
        .sidebar__menu__dropdown .slicknav_nav > li:last-child, .sidebar__menu__dropdown .slicknav_nav .slicknav_nav > li:last-child {
          border-bottom: none; }

.banner__categories {
  border: 1px solid #fefefe; }
  .banner__categories__label {
    background-color: #7fad39;
    padding: 10px;
    position: relative; }
    .banner__categories__label a {
      color: white;
      font-size: 17px;
      font-weight: 700;
      margin-left: 20px; }
      .banner__categories__label a .fa-bars {
        margin-right: 10px; }
      .banner__categories__label a .fa-angle-down {
        position: absolute;
        top: 50%;
        right: 4%;
        transform: translate(-50%, -50%); }

.banner .slicknav_nav {
  padding: 10px 20px;
  border: 1px solid #eee; }
  .banner .slicknav_nav > li {
    padding: 7px 10px;
    font-size: 15px; }
    .banner .slicknav_nav > li > a {
      color: #444; }

#banner__categories__list {
  display: none; }

.sidebar.open {
  visibility: visible;
  transition: visibility 0s,opacity .3s;
  opacity: 1; }

.banner__search form {
  border: 1px solid #eee;
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: space-between; }
  .banner__search form > input {
    border: none;
    outline: none;
    border-left: 1px solid #eee;
    width: 60%;
    padding-left: 20px; }
  .banner__search form > button {
    border: none;
    outline: none;
    background-color: #7fad39;
    color: white;
    align-self: stretch;
    width: 15%;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; }
  .banner__search form ::-webkit-input-placeholder {
    /* Edge */
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }
  .banner__search form :-ms-input-placeholder {
    /* Internet Explorer */
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }
  .banner__search form ::placeholder {
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }

.banner__search__categories {
  margin-left: 20px;
  font-weight: 900;
  font-size: 15px;
  font-family: Cairo, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%; }

.banner__search__contact {
  display: flex;
  height: 42px; }
  .banner__search__contact__icon {
    width: 39px;
    background: #ddd;
    border-radius: 50%;
    text-align: center; }
    .banner__search__contact__icon i {
      line-height: 39px;
      color: #7fad39; }
  .banner__search__contact__text {
    margin-left: 10px;
    white-space: nowrap; }
    .banner__search__contact__text__phone {
      font-weight: bold; }
    .banner__search__contact__text__content {
      font-size: 13px;
      color: #999; }

.banner__image {
  margin-top: 30px;
  height: 430px;
  background-image: url("../asset/images/banner.webp");
  padding-left: 75px;
  display: flex;
  align-items: center;
  font-family: Cairo, sans-serif; }
  .banner__image__content small {
    color: #7fad39;
    letter-spacing: 5px;
    font-weight: 800; }
  .banner__image__content h1, .banner__image__content h2 {
    font-size: 44px;
    line-height: 1.2;
    font-weight: 800; }
  .banner__image__content p {
    color: #888;
    margin-top: 8px; }
  .banner__image__content button {
    margin-top: 15px; }

.product__item {
  position: relative; }
  .product__item img {
    width: 100%; }
  .product__item {
    margin: 0 15px; }

.product__item__name {
  text-align: center;
  transform: translateY(-150%);
  background-color: white;
  padding: 10px;
  margin: 0 30px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  white-space: nowrap; }

.owl-control-prev, .owl-control-next {
  position: absolute;
  top: 50%;
  border: 1px solid #eee;
  background: white;
  outline: none;
  padding: 20px 10px;
  font-size: 14px;
  transform: translateY(-50%);
  color: #444; }

.owl-control-prev {
  left: -30px; }

.owl-control-next {
  right: -30px; }

.featured {
  font-family: 'Open Sans' , sans-serif; }
  .featured__header {
    font-size: 35px;
    font-family: Cairo, sans-serif;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .featured__header .divider {
      width: 90px;
      border-bottom: 5px solid #7fad39; }
  .featured__list__control__group {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .featured__list__control__group > button {
      border: none;
      outline: none;
      cursor: pointer;
      margin: 0 10px;
      font-family: 'Open Sans' , sans-serif;
      background: white;
      font-size: 16px; }
      .featured__list__control__group > button.active {
        border-bottom: 2px solid #7fad39; }
  .featured img {
    width: 100%; }
  .featured__card {
    position: relative;
    overflow: hidden; }
  .featured__icon__group {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 60px);
    transition: all .3s ease-in-out;
    opacity: 0; }
    .featured__icon__group > .featured__icon {
      background: white;
      width: 35px;
      height: 35px;
      margin-left: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 35px;
      border: 2px solid #eee;
      transition: all .3s ease-in-out; }
      .featured__icon__group > .featured__icon:hover {
        border-color: #7fad39;
        background-color: #7fad39; }
        .featured__icon__group > .featured__icon:hover i {
          color: white;
          transform: rotate(360deg); }
      .featured__icon__group > .featured__icon i {
        transition: all .3s ease-in-out; }
    .featured__icon__group > .featured__icon:first-child {
      margin-left: 0; }
  .featured__list__item:hover .featured__icon__group {
    transform: translate(-50%, 0);
    opacity: 1; }
  .featured__list__item {
    margin-bottom: 30px; }
  .featured__item__detail {
    margin-top: 10px; }
    .featured__item__detail__name, .featured__item__detail__price {
      text-align: center; }
    .featured__item__detail__name {
      font-weight: 400;
      font-size: 14px; }
    .featured__item__detail__price {
      font-weight: 800;
      margin-top: 5px;
      letter-spacing: 1px; }

.banner__picture img {
  max-width: 100%; }

.lastest-product h4 {
  font-family: Cairo, sans-serif;
  font-weight: 900;
  font-size: 24px; }

.lastest-product .owl-carousel {
  position: relative; }
  .lastest-product .owl-carousel .owl-control-prev, .lastest-product .owl-carousel .owl-control-next {
    position: absolute;
    top: -16%;
    left: initial;
    padding: 10px; }
  .lastest-product .owl-carousel .owl-control-prev {
    right: 12%; }
  .lastest-product .owl-carousel .owl-control-next {
    right: 0; }

.lastest-product__item {
  display: flex; }
  .lastest-product__item__content h5 {
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px; }
  .lastest-product__item__content p {
    font-weight: 800; }
