.footer__links h5, .footer__newsletter h5, .blog-aside#blog-aside__form h5 {
  font-family: Cairo, sans-serif;
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 10px; }

.breadcrumb {
  padding-top: 50px;
  padding-bottom: 40px;
  background: url("../asset/images/breadcrumb.jpg") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: white; }
  .breadcrumb h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Cairo',sans-serif;
    font-weight: 900; }
  .breadcrumb small {
    font-size: 15px; }
    .breadcrumb small span {
      font-weight: 600;
      margin-right: 10px; }

.sale__header {
  display: inline;
  font-family: Cairo, sans-serif;
  font-size: 40px;
  font-weight: 900;
  border-bottom: 4px solid #ddd; }

.sale {
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd; }
  .sale .featured__card {
    height: 270px; }
    .sale .featured__card img {
      object-fit: cover;
      height: 270px; }
  .sale .owl-dot {
    outline: none; }

.filter-product__tittle {
  color: #888;
  font-size: 15px; }

.filter-product .nice-select {
  float: none;
  border: none;
  font-weight: bold; }

.filter-product .nice-select:after {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 7px;
  width: 7px;
  top: 45%; }

.filter-product__result {
  font-size: 15px;
  line-height: 36px;
  color: #ccc;
  white-space: nowrap; }
  .filter-product__result span {
    color: black;
    font-weight: bold;
    margin-right: 10px; }

.filter-product__icon {
  font-family: "elegant-icons";
  line-height: 10px;
  font-size: 25px;
  color: #aaa; }
  .filter-product__icon > span:hover {
    color: #7fad39; }

.sale-all-product .featured__card img {
  width: 100%; }

.product__pagination {
  display: flex; }
  .product__pagination li {
    border: 1px solid #b2b2b2;
    margin-right: 20px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    transition: all .3s; }
    .product__pagination li a {
      color: #b2b2b2;
      transition: color .3s; }
    .product__pagination li:hover {
      border-color: #7fad39;
      background: #7fad39; }
      .product__pagination li:hover a {
        color: white; }

.aside__content__nav h4, .aside__price__filter h4, .aside__color__filter h4, .aside__size__product h4, .blog-aside h4, .vegetables-pagake__details h4, .vegetables-pagake__status__label, .shop-tab__control h3, .shop-tab__content__item h4, .contact__icon__item h4, .contact__form h4, .blog-details h4, .blog-details h5, .checkout__main__header, .checkout__main__order h4, .checkout__main__order__item h5 {
  font-family: Cairo, sans-serif;
  font-weight: 900;
  font-size: 25px; }

.aside__content__nav li {
  margin-top: 18px;
  font-size: 15px; }

.aside__price__filter .noUi-base {
  height: 5px; }

.aside__price__filter .noUi-horizontal {
  height: 7px; }

.aside__price__filter .noUi-target {
  background: #ebebeb;
  border: none; }

.aside__price__filter .noUi-handle {
  top: -6px;
  right: -9px;
  border-radius: 50%;
  width: 15px;
  height: 15px; }

.aside__price__filter .noUi-connect {
  background: #dd2222; }

.aside__price__filter .noUi-handle:after, .aside__price__filter .noUi-handle:before {
  all: unset; }

.aside__price__filter > ul {
  display: flex; }
  .aside__price__filter > ul > li {
    color: #dd2222;
    font-weight: bold; }
  .aside__price__filter > ul span {
    margin: 0 10px; }

.aside__color__filter > div {
  display: flex; }
  .aside__color__filter > div > ul {
    margin-right: 30px; }
    .aside__color__filter > div > ul li {
      margin-bottom: 11px;
      font-size: 15px; }
    .aside__color__filter > div > ul span {
      width: 14px;
      height: 14px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 16px; }
      .aside__color__filter > div > ul span.aside__color__filter--white {
        background-color: white;
        border: 2px solid black; }
      .aside__color__filter > div > ul span.aside__color__filter--red {
        background-color: #d62d2d; }
      .aside__color__filter > div > ul span.aside__color__filter--blue {
        background-color: #249bc8; }
      .aside__color__filter > div > ul span.aside__color__filter--gray {
        background-color: #e9a625; }
      .aside__color__filter > div > ul span.aside__color__filter--black {
        background-color: #252525; }
      .aside__color__filter > div > ul span.aside__color__filter--green {
        background-color: #3cc032; }

.aside__size__product button {
  background: #f5f5f5;
  padding: 6px 20px;
  font-size: 12px;
  font-family: 'Open Sans',sans-serif;
  color: #aaa;
  border: none;
  outline: none; }

.aside__lastest-product button.owl-control-prev, .aside__lastest-product button.owl-control-next {
  top: -19% !important;
  background-color: #fefefe !important;
  width: auto;
  height: auto;
  padding: 5px; }
  .aside__lastest-product button.owl-control-prev i, .aside__lastest-product button.owl-control-next i {
    color: black; }

.shopping-cart__header, .shopping-cart__item {
  border-bottom: 1px solid #ddd; }

.shopping-cart .discount__section button, .shopping-cart .cart-checkout__btn, .vegetables-pagake__details__button, .contact__form form button, .checkout__main button {
  border: none;
  outline: none;
  font-family: 'Open Sans',sans-serif;
  padding: 12px 20px;
  background-color: #6f6f6f;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  color: white; }

.shopping-cart h4 {
  font-family: Cairo, sans-serif;
  font-weight: 900;
  font-size: 20px; }

.shopping-cart .cart-btn {
  background: #f5f5f5;
  padding: 8px 20px;
  color: #6f6f6f;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 2px;
  outline: none;
  border: none;
  font-family: 'Cairo',sans-serif;
  cursor: pointer; }
  .shopping-cart .cart-btn a {
    color: #6f6f6f; }

.shopping-cart .discount__section input {
  padding: 12px 30px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  color: #ccc;
  min-width: 100%;
  text-align: center; }

.shopping-cart .discount__section ::-webkit-input-placeholder {
  /* Edge */
  font-family: 'Open Sans',sans-serif; }

.shopping-cart .discount__section :-ms-input-placeholder {
  /* Internet Explorer */
  font-family: 'Open Sans',sans-serif; }

.shopping-cart .discount__section ::placeholder {
  font-family: 'Open Sans',sans-serif; }

.shopping-cart .cart-checkout {
  background: #f5f5f5; }
  .shopping-cart .cart-checkout .cart-checkout__subtotal, .shopping-cart .cart-checkout .cart-checkout__total {
    font-family: 'Cairo',sans-serif; }
    .shopping-cart .cart-checkout .cart-checkout__subtotal h5, .shopping-cart .cart-checkout .cart-checkout__total h5 {
      font-weight: 900;
      font-size: 16px; }
    .shopping-cart .cart-checkout .cart-checkout__subtotal span, .shopping-cart .cart-checkout .cart-checkout__total span {
      color: #dd2222;
      font-weight: 900;
      font-size: 17px; }
  .shopping-cart .cart-checkout .cart-checkout__subtotal {
    border-bottom: 1px solid #ddd; }
  .shopping-cart .cart-checkout__btn {
    width: 100%;
    background: #7fad39; }

.shopping-cart__item {
  position: relative; }
  .shopping-cart__item__img__wrapper {
    display: flex;
    align-items: center; }
    .shopping-cart__item__img__wrapper img {
      width: 100px;
      height: 100px;
      margin-right: 20px; }
  .shopping-cart__item__price {
    font-weight: 800; }
  .shopping-cart__item__button-group {
    /* Firefox */ }
    .shopping-cart__item__button-group > * {
      flex: 0 1 33%;
      padding: 10px 10px;
      background-color: #f5f5f5;
      outline: none;
      border: none;
      font-size: 20px;
      text-align: center;
      font-family: 'Open Sans',sans-serif; }
    .shopping-cart__item__button-group input {
      width: 33%;
      flex-basis: 33%; }
    .shopping-cart__item__button-group button {
      cursor: pointer; }
    .shopping-cart__item__button-group input::-webkit-outer-spin-button,
    .shopping-cart__item__button-group input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .shopping-cart__item__button-group input[type=number] {
      -moz-appearance: textfield; }
  .shopping-cart__item__remove {
    position: absolute;
    top: 42%;
    right: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer; }
    .shopping-cart__item__remove i {
      font-size: 20px; }

@media screen and (max-width: 576px) {
  .shopping-cart__item__remove {
    top: 10px;
    right: 20px; } }

@media screen and (min-width: 576px) and (max-width: 768px) {
  .shopping-cart__item__remove {
    top: 10px;
    right: 35px; } }

.blog-aside#blog-aside__form form {
  border-radius: 20px; }
  .blog-aside#blog-aside__form form > button {
    background-color: white !important;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: black !important; }

.blog-aside .blog-aside__categories ul li {
  margin-top: 30px;
  font-size: 15px; }
  .blog-aside .blog-aside__categories ul li a {
    color: #6f6f6f; }
  .blog-aside .blog-aside__categories ul li:hover a {
    transition: color .3s;
    color: #85b143; }

.blog-aside__lastest-news ul li {
  display: flex; }
  .blog-aside__lastest-news ul li p {
    color: #999; }

.blog-aside__lastest-news h5 {
  line-height: 1.2; }

#blog .blog__group__card {
  margin-bottom: 40px; }
  #blog .blog__group__card__btn {
    outline: none;
    border: 1px solid #b2b2b2;
    cursor: pointer;
    color: #6f6f6f;
    text-transform: uppercase;
    padding: 12px 23px;
    border-radius: 30px;
    background-color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px; }
    #blog .blog__group__card__btn i {
      margin-left: 10px; }
  #blog .blog__group__card h5 {
    line-height: 1.1; }
  #blog .blog__group__card__content__text {
    color: #6f6f6f;
    line-height: 1.8; }

#blog .product__pagination {
  padding-top: 30px;
  border-top: 1px solid #ddd; }

.vegetables-pagake__show__product__img img {
  max-width: 100%; }

.vegetables-pagake__details {
  border-bottom: 1px solid #ddd; }
  .vegetables-pagake__details h4 {
    font-size: 30px; }
  .vegetables-pagake__details h3 {
    margin-top: 15px;
    color: #dd2222;
    font-weight: 400;
    font-size: 30px; }
  .vegetables-pagake__details__rate i {
    color: #edbb0e; }
  .vegetables-pagake__details__rate small {
    color: #dd2222; }
  .vegetables-pagake__details__text {
    margin-top: 20px;
    color: #888;
    line-height: 1.8;
    font-size: 14px; }
  .vegetables-pagake__details__button {
    background-color: #f5f5f5;
    color: black; }
    .vegetables-pagake__details__button.green {
      background-color: #7fad39;
      color: white; }

.vegetables-pagake__status > div {
  display: flex;
  align-items: flex-start; }

.vegetables-pagake__status__label {
  font-size: 15px;
  width: 30%;
  flex-basis: 30%;
  flex-grow: 0; }

.vegetables-pagake__status__text {
  font-size: 15px;
  color: #777; }

.vegetables-pagake__status i {
  margin-right: 20px; }

.shop-tab {
  border-top: 1px solid #ddd; }
  .shop-tab__control {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 400px;
    max-width: 90%;
    padding: 0 20px;
    justify-content: space-between;
    background-color: white;
    margin-top: -18px; }
    .shop-tab__control h3 {
      cursor: pointer;
      font-size: 16px;
      color: #888; }
      .shop-tab__control h3.active {
        color: black; }
  .shop-tab__content__item {
    margin-top: 30px; }
    .shop-tab__content__item:not(.active) {
      display: none; }
    .shop-tab__content__item h4 {
      font-size: 16px;
      margin-bottom: 20px; }
    .shop-tab__content__item p {
      color: #666;
      line-height: 1.6;
      font-size: 15px; }

.contact__icon__item {
  text-align: center; }
  .contact__icon__item span {
    font-family: "elegant-icons";
    font-size: 36px;
    color: #85b143; }
  .contact__icon__item h4 {
    margin-top: 20px; }
  .contact__icon__item p {
    color: #888;
    font-size: 15px; }

.contact__map img {
  width: 100%;
  height: 90vh; }

.contact__form {
  margin-top: 60px;
  text-align: center; }
  .contact__form h4 {
    font-size: 36px; }
  .contact__form form input, .contact__form form textarea {
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    font-size: 24px; }
  .contact__form form button {
    margin-top: 30px;
    background-color: #7fad39;
    color: white;
    padding: 15px 30px;
    font-size: 17px;
    font-weight: bold; }
  .contact__form form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #aaa;
    font-size: 16px;
    font-family: 'Open Sans',serif;
    line-height: 28px; }
  .contact__form form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaa;
    font-size: 16px;
    font-family: 'Open Sans',serif;
    line-height: 28px; }
  .contact__form form :-ms-input-placeholder {
    /* IE 10+ */
    color: #aaa;
    font-size: 16px;
    font-family: 'Open Sans',serif;
    line-height: 28px; }
  .contact__form form :-moz-placeholder {
    /* Firefox 18- */
    color: #aaa;
    font-size: 16px;
    font-family: 'Open Sans',serif;
    line-height: 28px; }
  .contact__form form textarea {
    resize: none; }
  .contact__form form textarea::-webkit-input-placeholder {
    font-size: 16px;
    color: #aaa;
    font-family: 'Open Sans',serif; }
  .contact__form form textarea:-moz-placeholder {
    /* Firefox 18- */
    font-size: 16px;
    color: #aaa;
    font-family: 'Open Sans',serif; }
  .contact__form form textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 16px;
    color: #aaa;
    font-family: 'Open Sans',serif; }
  .contact__form form textarea:-ms-input-placeholder {
    font-size: 16px;
    color: #aaa;
    font-family: 'Open Sans',serif; }
  .contact__form form textarea::placeholder {
    font-size: 16px;
    color: #aaa;
    font-family: 'Open Sans',serif; }

.blog-details {
  border-bottom: 1px solid #eee; }
  .blog-details__content__img {
    max-width: 100%;
    margin-top: 60px;
    margin-bottom: 20px; }
  .blog-details__content p {
    color: #888;
    line-height: 1.8; }
  .blog-details__content h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1; }
  .blog-details__content__admin {
    display: flex;
    align-items: center; }
    .blog-details__content__admin img {
      border-radius: 50%;
      margin-right: 10px; }
    .blog-details__content__admin h5 {
      font-size: 17px; }
    .blog-details__content__admin p {
      font-size: 14px; }
  .blog-details__content__another-content h5 {
    font-size: 17px;
    margin-right: 10px;
    font-weight: 800; }
  .blog-details__content__another-content > div {
    display: flex;
    align-items: center; }
    .blog-details__content__another-content > div p {
      font-size: 14px;
      white-space: nowrap; }
  .blog-details__icon {
    margin-top: 15px; }
    .blog-details__icon i {
      margin-right: 25px;
      color: #888;
      font-size: 18px; }

.checkout__coupon {
  background-color: #f5f5f5;
  border-top: 1px solid #7fad39;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px; }
  .checkout__coupon p {
    font-size: 15px;
    color: #888; }
    .checkout__coupon p > a {
      color: #888;
      text-decoration: underline; }
    .checkout__coupon p span {
      font-family: "elegant-icons";
      color: #7fad39; }

.checkout__main__header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px; }

.checkout__main .checkout__form-control label {
  font-size: 15px; }
  .checkout__main .checkout__form-control label span {
    margin-left: -4px;
    color: #dd2222; }

.checkout__main .checkout__form-control input {
  margin-top: 15px;
  width: 100%;
  padding: 10px 25px;
  border: 1px solid #eee;
  border-radius: 5px;
  outline: none;
  font-family: 'Open Sans',serif;
  color: #6f6f6f;
  font-size: 18px; }

.checkout__main .checkout__form-control ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa;
  font-size: 16px;
  font-family: 'Open Sans',serif;
  line-height: 28px; }

.checkout__main .checkout__form-control ::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
  font-size: 16px;
  font-family: 'Open Sans',serif;
  line-height: 28px; }

.checkout__main .checkout__form-control :-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa;
  font-size: 16px;
  font-family: 'Open Sans',serif;
  line-height: 28px; }

.checkout__main .checkout__form-control :-moz-placeholder {
  /* Firefox 18- */
  color: #aaa;
  font-size: 16px;
  font-family: 'Open Sans',serif;
  line-height: 28px; }

.checkout__main .checkout__form-control ::placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa;
  font-size: 16px;
  font-family: 'Open Sans',serif;
  line-height: 28px; }

.checkout__main__order {
  background-color: #f5f5f5; }
  .checkout__main__order__section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px; }
  .checkout__main__order h4 {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd; }
  .checkout__main__order__item h5 {
    font-size: 18px; }
    .checkout__main__order__item h5.red {
      color: #dd2222; }
  .checkout__main__order__item p {
    font-size: 15px;
    color: #6f6f6f; }
  .checkout__main__order__item span {
    font-family: 'Cairo',sans-serif;
    font-weight: 900;
    color: #999; }

.checkout__main button {
  margin-top: 30px;
  width: 100%;
  background-color: #7fad39;
  color: white;
  font-size: 18px; }

.custom__checkbox {
  display: flex; }
  .custom__checkbox input {
    display: none; }
  .custom__checkbox span {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative; }
  .custom__checkbox span:after {
    content: "";
    position: absolute;
    display: none;
    top: 1px;
    left: 5px; }
  .custom__checkbox input:checked + span {
    background-color: #7fad39; }
  .custom__checkbox input:checked + span:after {
    border: solid white;
    width: 7px;
    height: 12px;
    border-width: 0 3px 3px 0px;
    transform: rotate(404deg);
    display: block; }
  .custom__checkbox p {
    font-size: 15px; }
  .custom__checkbox + p {
    margin-top: 20px;
    font-size: 15px;
    color: #888; }

html {
  font-family: 'Open Sans', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow: auto; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

.banner__image__content button {
  padding: 10px 27px;
  background: #7fad39;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif; }

.preloader-wrapper {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transition: opacity .5s ease-in-out; }
  .preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 60px;
    height: 60px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    transform-origin: 50% 50%; }

.preloader-finish {
  opacity: 0;
  pointer-events: none; }

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

.header ul {
  display: flex; }

.header__top {
  background: #f5f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
  position: relative; }
  .header__top .col-lg-6 {
    padding: 0; }
  .header__top__item {
    display: flex;
    padding: 0 20px; }
    .header__top__item:not(:last-child) {
      border-right: 1px solid #b2b2b2; }
    .header__top__item .fa-envelope {
      margin-right: 10px;
      line-height: 20px; }
    .header__top__item__icons li:not(:last-child) {
      margin: 0 12px; }
    .header__top__item__icons a {
      color: black; }
    .header__top__item .fa-user {
      margin-right: 10px;
      line-height: 20px; }
    .header__top__item__language {
      position: relative;
      z-index: 4; }
      :hover > .header__top__item__language__dropdown {
        visibility: visible;
        opacity: 1;
        top: 120%;
        background-color: black; }
      .header__top__item__language__dropdown {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        position: absolute;
        top: 300%;
        left: 20px;
        background-color: black;
        color: white;
        width: 70%;
        transition: all 0.3s ease;
        padding: 10px; }
        .header__top__item__language__dropdown li:first-child {
          padding-bottom: 8px; }
      .header__top__item__language img {
        margin-right: 10px; }
      .header__top__item__language i {
        font-size: 15px;
        line-height: 20px;
        margin-left: 15px; }
  .header__top__items:first-child {
    margin-left: -20px; }
  .header__top__items:last-child {
    transform: translateX(40px); }

.header__bottom {
  height: 80px; }
  .header__bottom__wrapper {
    align-items: center;
    height: 100%; }
    .header__bottom__wrapper .col-lg-9 {
      padding-right: 0; }
  .header__bottom .toggle {
    border: 1px solid black;
    font-size: 24px;
    line-height: 26px;
    padding: 5px;
    padding-bottom: 2px;
    background-color: white;
    outline: none;
    cursor: pointer; }
  .header__bottom__nav li {
    display: inline;
    margin-right: 30px;
    font-weight: 900;
    font-size: 14px;
    font-family: Cairo,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.3s ease; }
    .header__bottom__nav li.active > a, .header__bottom__nav li:hover > a {
      color: #7fad39;
      transition: all 0.3s ease; }
  .header__bottom__nav__dropdown {
    position: relative; }
    .header__bottom__nav__dropdown:hover > ul {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px); }
    .header__bottom__nav__dropdown__menu {
      position: absolute;
      flex-direction: column;
      top: 100%;
      left: 0;
      z-index: 1000;
      width: 300%;
      white-space: nowrap;
      background-color: black;
      padding: 10px;
      visibility: hidden;
      opacity: 0;
      transform: translateY(100px);
      transition: visibility 0s, opacity .3s, transform .3s; }
      .header__bottom__nav__dropdown__menu > li:hover a {
        color: #7fad39; }
      .header__bottom__nav__dropdown__menu a {
        color: white;
        font-family: 'Open Sans',sans-serif;
        font-weight: normal;
        text-transform: none;
        font-size: 13px; }
  .header__bottom__cart, .sidebar__menu__cart {
    display: flex; }
    .header__bottom__cart > div:not(:last-child), .sidebar__menu__cart > div:not(:last-child) {
      position: relative;
      margin-right: 15px; }
    .header__bottom__cart > div:last-child, .sidebar__menu__cart > div:last-child {
      margin-left: 15px; }
    .header__bottom__cart .amount, .sidebar__menu__cart .amount {
      position: absolute;
      right: -5px;
      top: -15px;
      display: inline-block;
      width: 15px;
      height: 15px;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      color: white;
      border-radius: 50%;
      background: #7fad39;
      transform: translate(50%, 50%); }
    .header__bottom__cart p, .sidebar__menu__cart p {
      font-size: 13px; }
      .header__bottom__cart p span, .sidebar__menu__cart p span {
        font-weight: bold; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 2000;
  transition: visibility 0s,opacity .3s;
  opacity: 0; }
  .sidebar__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .sidebar__menu {
    padding: 30px;
    position: absolute;
    top: 0;
    transform: translateX(-300px);
    bottom: 0;
    width: 300px;
    background: white;
    transition: all .3s ease-in-out; }
    .sidebar__menu .logo {
      margin-top: 22px;
      margin-bottom: 24px; }
    .sidebar__menu .wrapper {
      display: flex;
      font-size: 13px;
      margin-top: 27px; }
      .sidebar__menu .wrapper > li + li {
        border-left: 1px solid #b2b2b2; }
    .sidebar__menu__language {
      display: flex;
      align-items: flex-start;
      position: relative; }
      .sidebar__menu__language > img {
        transform: translateY(3px);
        margin-right: 6px; }
      .sidebar__menu__language > p {
        margin-left: 3px;
        margin-right: 7px; }
      .sidebar__menu__language > i {
        margin-right: 23px;
        transform: translateY(3px); }
      .sidebar__menu__language__dropdown {
        position: absolute;
        top: 100%;
        transform: translateY(100%);
        left: 0;
        background-color: #000;
        color: white;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity .5s,transform .5s;
        padding: 8px;
        width: 80%; }
        .sidebar__menu__language__dropdown > li + li {
          margin-top: 6px; }
      .sidebar__menu__language:hover .sidebar__menu__language__dropdown {
        transform: translateY(0);
        opacity: 1;
        visibility: visible; }
    .sidebar__menu__dropdown, .sidebar__menu__dropdown .slicknav_nav {
      font-size: 15px;
      margin-top: 35px; }
      .sidebar__menu__dropdown > li, .sidebar__menu__dropdown .slicknav_nav > li {
        border-bottom: 1px solid #b2b2b2;
        padding: 7px 0;
        font-weight: 600;
        transition: all 0.3s ease; }
        .sidebar__menu__dropdown > li:hover > a, .sidebar__menu__dropdown .slicknav_nav > li:hover > a {
          color: #7fad39; }
      .sidebar__menu__dropdown .slicknav_nav {
        margin: 0; }
        .sidebar__menu__dropdown .slicknav_nav > li:last-child, .sidebar__menu__dropdown .slicknav_nav .slicknav_nav > li:last-child {
          border-bottom: none; }

.banner__categories {
  border: 1px solid #fefefe; }
  .banner__categories__label {
    background-color: #7fad39;
    padding: 10px;
    position: relative; }
    .banner__categories__label a {
      color: white;
      font-size: 17px;
      font-weight: 700;
      margin-left: 20px; }
      .banner__categories__label a .fa-bars {
        margin-right: 10px; }
      .banner__categories__label a .fa-angle-down {
        position: absolute;
        top: 50%;
        right: 4%;
        transform: translate(-50%, -50%); }

.banner .slicknav_nav {
  padding: 10px 20px;
  border: 1px solid #eee; }
  .banner .slicknav_nav > li {
    padding: 10px;
    font-size: 15px; }
    .banner .slicknav_nav > li > a {
      color: #444; }

#banner__categories__list {
  display: none; }

.sidebar.open {
  visibility: visible;
  transition: visibility 0s,opacity .3s;
  opacity: 1; }

.banner__search form, .footer__newsletter form, .blog-aside#blog-aside__form form {
  border: 1px solid #eee;
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: space-between; }
  .banner__search form > input, .footer__newsletter form > input, .blog-aside#blog-aside__form form > input {
    border: none;
    outline: none;
    border-left: 1px solid #eee;
    width: 60%;
    padding-left: 20px; }
  .banner__search form > button, .footer__newsletter form > button, .blog-aside#blog-aside__form form > button {
    border: none;
    outline: none;
    background-color: #7fad39;
    color: white;
    align-self: stretch;
    width: 15%;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; }
  .banner__search form ::-webkit-input-placeholder, .footer__newsletter form ::-webkit-input-placeholder, .blog-aside#blog-aside__form form ::-webkit-input-placeholder {
    /* Edge */
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }
  .banner__search form :-ms-input-placeholder, .footer__newsletter form :-ms-input-placeholder, .blog-aside#blog-aside__form form :-ms-input-placeholder {
    /* Internet Explorer */
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }
  .banner__search form ::placeholder, .footer__newsletter form ::placeholder, .blog-aside#blog-aside__form form ::placeholder {
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }

.banner__search__categories {
  margin-left: 20px;
  font-weight: 900;
  font-size: 15px;
  font-family: Cairo, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%; }

.banner__search__contact {
  display: flex;
  height: 42px; }
  .banner__search__contact__icon {
    width: 39px;
    background: #ddd;
    border-radius: 50%;
    text-align: center; }
    .banner__search__contact__icon i {
      line-height: 39px;
      color: #7fad39; }
  .banner__search__contact__text {
    margin-left: 10px;
    white-space: nowrap; }
    .banner__search__contact__text__phone {
      font-weight: bold; }
    .banner__search__contact__text__content {
      font-size: 13px;
      color: #999; }

.banner__image {
  margin-top: 30px;
  height: 430px;
  background-image: url("../asset/images/banner.webp");
  padding-left: 75px;
  display: flex;
  align-items: center;
  font-family: Cairo, sans-serif; }
  .banner__image__content small {
    color: #7fad39;
    letter-spacing: 5px;
    font-weight: 800; }
  .banner__image__content h1, .banner__image__content h2 {
    font-size: 44px;
    line-height: 1.2;
    font-weight: 800; }
  .banner__image__content p {
    color: #888;
    margin-top: 8px; }
  .banner__image__content button {
    margin-top: 15px; }

.product__item {
  position: relative; }
  .product__item img {
    width: 100%; }

.product__item__name {
  text-align: center;
  transform: translateY(-150%);
  background-color: white;
  padding: 10px;
  margin: 0 30px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  white-space: nowrap; }

.owl-control-prev, .owl-control-next {
  position: absolute;
  top: 50%;
  border: 1px solid #eee;
  background: white;
  outline: none;
  padding: 20px 10px;
  font-size: 14px;
  transform: translateY(-50%);
  color: #444; }

.owl-control-prev {
  left: -30px; }

.owl-control-next {
  right: -30px; }

.featured {
  font-family: 'Open Sans' , sans-serif; }
  .featured__header {
    font-size: 35px;
    font-family: Cairo, sans-serif;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .featured__header .divider {
      width: 90px;
      border-bottom: 5px solid #7fad39; }
  .featured__list__control__group {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .featured__list__control__group > button {
      border: none;
      outline: none;
      cursor: pointer;
      margin: 0 10px;
      font-family: 'Open Sans' , sans-serif;
      background: white;
      font-size: 16px; }
      .featured__list__control__group > button.active {
        border-bottom: 2px solid #7fad39; }
  .featured img {
    width: 100%; }
  .featured__card {
    position: relative;
    overflow: hidden; }
  .featured__icon__group {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 60px);
    transition: all .3s ease-in-out;
    opacity: 0; }
    .featured__icon__group > .featured__icon {
      background: white;
      width: 35px;
      height: 35px;
      margin-left: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 35px;
      border: 2px solid #eee;
      transition: all .3s ease-in-out;
      cursor: pointer; }
      .featured__icon__group > .featured__icon:hover {
        border-color: #7fad39;
        background-color: #7fad39; }
        .featured__icon__group > .featured__icon:hover i {
          color: white;
          transform: rotate(360deg); }
      .featured__icon__group > .featured__icon i {
        transition: all .3s ease-in-out; }
    .featured__icon__group > .featured__icon:first-child {
      margin-left: 0; }
  .featured__list__item:hover .featured__icon__group {
    transform: translate(-50%, 0);
    opacity: 1; }
  .featured__list__item {
    margin-bottom: 30px; }
  .featured__item__detail {
    margin-top: 10px; }
    .featured__item__detail__name, .featured__item__detail__price {
      text-align: center; }
    .featured__item__detail__name {
      font-weight: 400;
      font-size: 14px; }
    .featured__item__detail__price {
      font-weight: 800;
      margin-top: 5px;
      letter-spacing: 1px; }

.banner__picture img {
  max-width: 100%; }

.lastest-product h4 {
  font-family: Cairo, sans-serif;
  font-weight: 900;
  font-size: 24px; }

.lastest-product .owl-carousel {
  position: relative; }
  .lastest-product .owl-carousel .owl-control-prev, .lastest-product .owl-carousel .owl-control-next {
    position: absolute;
    top: -16%;
    left: initial;
    padding: 10px; }
  .lastest-product .owl-carousel .owl-control-prev {
    right: 12%; }
  .lastest-product .owl-carousel .owl-control-next {
    right: 0; }

.lastest-product__item {
  display: flex; }
  .lastest-product__item__content h5 {
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px; }
  .lastest-product__item__content p {
    font-weight: 800; }

.blog {
  font-family: 'Open Sans' , sans-serif;
  margin-bottom: 40px; }
  .blog__header {
    font-size: 35px;
    font-family: Cairo, sans-serif;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .blog__header .divider {
      width: 90px;
      border-bottom: 5px solid #7fad39; }
  .blog__group__card img {
    width: 100%;
    max-width: 100%; }
  .blog__group__card__content {
    margin-top: 20px; }
    .blog__group__card__content__small {
      color: #aaa;
      font-size: 15px;
      margin-bottom: 15px; }
    .blog__group__card__content > h5 {
      font-family: Cairo, sans-serif;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 10px; }
    .blog__group__card__content__text {
      color: #555;
      font-size: 14px; }

.footer {
  background-color: #f5f5f5;
  margin-top: 80px; }
  .footer__bordered {
    border-bottom: 1px solid #e1e1e1; }
  .footer__contact__content li {
    margin-top: 15px;
    font-size: 14px; }
  .footer__links__group {
    display: flex; }
    .footer__links__group > ul {
      flex-basis: 50%;
      font-size: 13px; }
      .footer__links__group > ul > li {
        margin-bottom: 10px; }
  .footer__newsletter p, .blog-aside#blog-aside__form p {
    font-size: 13px; }
  .footer__newsletter form, .blog-aside#blog-aside__form form {
    background: white;
    margin-top: 25px; }
    .footer__newsletter form button, .blog-aside#blog-aside__form form button {
      width: 25%; }
  .footer__newsletter__icon {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 60%; }
    .footer__newsletter__icon > li {
      border-radius: 50%;
      background: white;
      width: 40px;
      height: 40px;
      text-align: center;
      border: 2px solid #f5f5f5;
      transition: all .3s ease; }
      .footer__newsletter__icon > li:hover {
        background: #7fad39;
        border-color: #7fad39; }
        .footer__newsletter__icon > li:hover > a {
          color: white; }
      .footer__newsletter__icon > li i {
        line-height: 37px; }
  .footer__copyright {
    color: #666;
    font-size: 14px; }
    .footer__copyright a {
      color: #007bff; }
      .footer__copyright a:hover {
        color: white; }

span.amount-all-product {
  color: black;
  font-size: 20px;
  text-transform: uppercase; }
