@import 'variable';
@import 'breakpoint.scss';
@import 'util.scss';
@import 'shop-grid.scss';
@import 'shopping-cart.scss';


html {
	font-family: 'Open Sans', sans-serif;
}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	overflow:auto;
}

ul {
	list-style:none;
}

a {
	text-decoration:none;
	color:black;
}

%button {
	padding:10px 27px;
	background: $green;
	color:white;
	text-transform: uppercase;
	font-weight:bold;
	border:none;
	outline:none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}

// PRELOADER

.preloader-wrapper {
	z-index:99999;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:black;
	.preloader {
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%) rotate(0deg);
		width:60px;
		height:60px;
		border:3px solid rgba(255,255,255,0.3);
		border-top-color:white;
		border-radius: 50%;
		animation:spin 1s infinite linear;
		transform-origin: 50% 50%;
	}
	transition:opacity .5s ease-in-out;
}

.preloader-finish {
	opacity:0;
	pointer-events: none;
}

@keyframes spin {
	to {
		transform: translate(-50%,-50%) rotate(360deg);
	}
}


// PRELOADER

// HEADER

.header {
	ul {
			display:flex;
		}
	&__top {
		background: $light;
		padding-top:15px;
		padding-bottom:15px;
		font-size:13px;
		position:relative;
		
		.col-lg-6 {
			padding:0;
		}

		&__item {

			display:flex;
			padding:0 20px;
			&:not(:last-child){
				border-right:1px solid $gray;
			}
			.fa-envelope {
				margin-right:10px;
				line-height:20px;
			}
			&__icons {
				li:not(:last-child) {
					margin:0 12px;
				}
				a {
					color:black;
				}
			}
			.fa-user {
				margin-right:10px;
				line-height:20px;
			}
			&__language {
				position:relative;
				:hover > &__dropdown{
					visibility: visible;
					opacity:1;
					top:120%;
					background-color:black;
				}
				z-index:4;
				&__dropdown {
					visibility:hidden;
					opacity:0;
					flex-direction: column;
					position: absolute;
					top:300%;
					left:20px;
					background-color:black;
					color:white;
					width:70%;
					transition:$transition;
					padding:10px;
					li:first-child {
						padding-bottom:8px;
					}
				}
				img {
					margin-right:10px;
				}
				i {
					font-size:15px;
					line-height:20px;
					margin-left:15px;
				}
			}
		}
		&__items {
			&:first-child {
				margin-left:-20px;
			}
			&:last-child {
				transform: translateX(40px);
			}
		}	
	}
	&__bottom {
		height:80px;
		&__wrapper {
			align-items: center;
			height:100%;
			.col-lg-9 {
				padding-right:0;
			}
		}
		.toggle {
			border:1px solid black;
			font-size:24px;
			line-height:26px;
			padding:5px;
			padding-bottom:2px;
			background-color:white;
			outline:none;
			cursor:pointer;
		}
		&__nav {
			li {
				display:inline;
				margin-right:30px;
				font-weight:900;
				font-size:14px;
				font-family:Cairo,sans-serif;
				text-transform: uppercase;
				letter-spacing: 3px;
				transition:$transition;
				&.active, &:hover {
					> a {
						color:$green;
						transition:$transition;
					}
				}
			}
			&__dropdown {
				position:relative;
				&:hover > ul{
							visibility:visible;
						opacity:1;
						transform: translateY(0px);
					}
				&__menu {
					position:absolute;
					flex-direction: column;
					top:100%;
					left:0;
					z-index: 1000;
					width:300%;
					white-space: nowrap;
					background-color: black;
					padding:10px;
					visibility: hidden;
					opacity:0;
					transform: translateY(100px);
					transition:visibility 0s, opacity .3s, transform .3s;
					
					> li {
						&:hover a {
							color:$green;
						}
					}
					a {
						color:white;
						font-family: 'Open Sans',sans-serif;
						font-weight:normal;
						text-transform: none;
						font-size:13px;
					}
				}
			}
		}
		&__cart {
			display:flex;
			> div:not(:last-child) {
				position:relative;
				margin-right:15px;
			}
			> div:last-child {
				margin-left:15px;
			}
			.amount {
				position:absolute;
				right:-5px;
				top:-15px;
				display: inline-block;
				width:15px;
				height:15px;
				font-size:10px;
				font-weight:bold;
				text-align: center;
				color:white;
				border-radius:50%;
				background:$green;
				transform:translate(50%,50%);
			}
			p{
				font-size:13px;
				span {
					font-weight:bold;
				}
			}
		}
	}
}


// SIDEBAR

.sidebar {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	visibility: hidden;
	z-index:2000;
	transition:visibility 0s,opacity .3s;
	opacity:0;
	&__overlay {
		width:100%;
		height:100%;
		background-color: rgba(0,0,0,0.5);
	}
	&__menu {
		padding:30px;
		.logo {
			margin-top:22px;
			margin-bottom: 24px;
		}
		position:absolute;
		top:0;
		transform:translateX(-300px);
		bottom:0;
		width:300px;
		background: white;
		transition:all .3s ease-in-out;
		&__cart {
			@extend .header__bottom__cart;
		}
		.wrapper {
			display:flex;
			font-size:13px;
			margin-top:27px;
			> li+li {
				border-left:1px solid $gray;
			}
		}
		&__language {
			display:flex;
			align-items: flex-start;
			position:relative;
			> img {
				transform:translateY(3px);
				margin-right:6px;
			}
			> p {
				margin-left:3px;
				margin-right:7px;
			}
			> i {
				margin-right:23px;
				transform:translateY(3px);
			}
			&__dropdown {
				position:absolute;
				top:100%;
				transform:translateY(100%);
				left:0;
				background-color:#000;
				color:white;
				visibility:hidden;
				opacity:0;
				transition:visibility 0s, opacity .5s,transform .5s;
				padding:8px;
				width:80%;
				> li+li {
					margin-top:6px;
				}
			}
			&:hover &__dropdown {
				transform:translateY(0);
				opacity:1;
				visibility:visible;
			}
		}
		&__dropdown {
			font-size:15px;
			margin-top:35px;
			> li {
				border-bottom:1px solid $gray;
				padding:7px 0;
				font-weight:600;
				transition:$transition;
				&:hover > a{
					color:$green;
				}
			}
			.slicknav_nav {
				@extend .sidebar__menu__dropdown;
				margin:0;
				> li:last-child {
					border-bottom:none;
				}
			}
		}
	}
}

.banner {
	&__categories {
		border:1px solid #fefefe;
		&__label {
			background-color:$green;
			padding:10px;
			position:relative;
			a {
				color:white;
				font-size:17px;
				font-weight:700;
				margin-left:20px;
				.fa-bars {
					margin-right:10px;
				}
				.fa-angle-down {
					position:absolute;
					top:50%;
					right:4%;
					transform:translate(-50%,-50%);
				}
			}
		}
	}
	.slicknav_nav {
		padding:10px 20px;
		border:1px solid #eee;

		> li {
			padding:10px;
			font-size:15px; 
			> a {
				color:#444;
			}
		}
	}
}

#banner__categories__list {
	display:none;
}

.sidebar.open {
	visibility: visible;
	transition:visibility 0s,opacity .3s;
	opacity:1;
}

.banner__search {
	form {
		border:1px solid #eee;
		display:flex;
		height:43px;
		align-items: center;
		justify-content: space-between;
		> input {
			border:none;
			outline:none;
			border-left:1px solid #eee;
			width:60%;
			padding-left:20px;
		}
		> button {
			border:none;
			outline:none;
			background-color:$green;
			color:white;
			align-self: stretch;
			width:15%;
			text-transform:uppercase;
			font-family:'Open Sans', sans-serif;
			font-weight: bold;
		}
		::-webkit-input-placeholder { /* Edge */
		  color: #999;
		  font-family:'Open Sans', sans-serif;
		  font-size:14px;
		}

		:-ms-input-placeholder { /* Internet Explorer */
		  color: #999;
		  font-family:'Open Sans', sans-serif;
		  font-size:14px;
		}

		::placeholder {
		  color: #999;
		  font-family:'Open Sans', sans-serif;
		  font-size:14px;
		}
	}
	&__categories {
		margin-left:20px;
		font-weight:900;
		font-size:15px;
		font-family: Cairo, sans-serif;
		display:flex;
		justify-content: space-between;
		align-items: center;
		width:20%;
	}
	&__contact {
		display:flex;
		height:42px;
		&__icon {
			width:39px;
			background: #ddd;
			border-radius: 50%;
			text-align:center;
			i {
				line-height: 39px;
				color:$green;
			}
		}
		&__text {
			margin-left:10px;
			white-space:nowrap;
			&__phone {
				font-weight:bold;
			}
			&__content {
				font-size:13px;
				color:#999;
			}
		}
	}
}

.banner__image {
	margin-top:30px;
	height:430px;
	background-image: url('../asset/images/banner.webp');
	padding-left:75px;
	display:flex;
	align-items: center;
	font-family:Cairo, sans-serif;
	&__content {
		small {
			color:$green;
			letter-spacing: 5px;
			font-weight:800;
		}
		h1,h2 {
			font-size:44px;
			line-height: 1.2;
			font-weight:800;
		}
		p {
			color:#888;
			margin-top:8px;
		}
		button {
			@extend %button;
			margin-top:15px;
		}
	}
}
.product__item {
	position:relative;
	img {
		width:100%;
	}
	// & {
	// 	margin:0 15px;
	// }
}

.product__item__name {
	text-align:center;
	transform: translateY(-150%);
	background-color:white;
	padding:10px;
	margin:0 30px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 3px;
	white-space: nowrap;
}


.owl-control-prev, .owl-control-next {
	position:absolute;
	top:50%;
	border:1px solid #eee;
	background: white;
	outline:none;
	padding:20px 10px;
	font-size:14px;
	transform:translateY(-50%);
	color:#444;
}

.owl-control-prev {
	left:-30px;
}

.owl-control-next {
	right:-30px;
}


// FEATURED 

.featured {
		font-family:'Open Sans' , sans-serif;
	&__header {
		font-size:35px;
		font-family:Cairo, sans-serif;
		font-weight:900;
		text-align: center;
		display:flex;
		align-items: center;
		flex-direction: column;
		.divider {
			width:90px;
			border-bottom:5px solid $green;
		}
	}
	&__list { //FEATURED__LIST
		&__control__group {
			margin-top:40px;
			display:flex;
			justify-content: center;
			flex-wrap: wrap;
			> button {
				border:none;
				outline:none;
				cursor: pointer;
				margin:0 10px;
				font-family:'Open Sans' , sans-serif;
				background:white;
				font-size:16px;
				&.active {
					border-bottom:2px solid $green;
				}
			}
		}
		//FEATURED__LIST EN
		
	}
	img {
		width:100%;
	}
	&__card {
		position:relative;
		overflow:hidden;
	}
	&__icon__group {
		display:flex;
		position:absolute;
		bottom:20px;
		left:50%;
		transform: translate(-50%,60px);
		transition:all .3s ease-in-out;
		opacity:0;
		> .featured__icon {
			background:white;
			width:35px;
			height:35px;
			margin-left:20px;
			border-radius: 50%;
			text-align: center;
			line-height:35px;
			border:2px solid #eee;
			transition:all .3s ease-in-out;
			cursor: pointer;
			&:hover {
				border-color:$green;
				background-color:$green;
				i {
					color:white;
					transform:rotate(360deg);
				}
			}
			i {
				transition:all .3s ease-in-out;
			}
		}
		> .featured__icon:first-child {
			margin-left:0;
		}
	}
	&__list__item:hover {
			.featured__icon__group {
				transform:translate(-50%,0);
				opacity:1;
			}
	}
	&__list__item {
		margin-bottom:30px;
	}
	&__item__detail {
		margin-top:10px;
		&__name,&__price {
			text-align:center;
		}
		&__name {
			font-weight:400;
			font-size:14px;
		}
		&__price {
			font-weight:800;
			margin-top:5px;
			letter-spacing: 1px;
		}
	}
}

// FEATURED

// BANNER PICTURE

.banner__picture {
	img {
		max-width:100%;
	}
}

// BANNER PICTURE


// LASTEST PRODUCT

.lastest-product {
	h4 {
		font-family:Cairo, sans-serif;
		font-weight:900;
		font-size:24px;
	}
	.owl-carousel {
		position:relative;
		.owl-control-prev, .owl-control-next {
			position:absolute;
			top:-16%;
			left:initial;
			padding:10px;
		}
		.owl-control-prev {
			right:12%;
		}
		.owl-control-next {
			right:0;
		}
	}
	&__item {
		display:flex;
		&__content {
			h5 {
				font-weight:400;
				font-size:15px;
				margin-top:15px;
				margin-bottom:15px;
			}
			p {
				font-weight:800;

			}
		}
	}
}

// LASTEST PRODUCT

.blog {
			font-family:'Open Sans' , sans-serif;
			margin-bottom:40px;
	&__header {
		font-size:35px;
		font-family:Cairo, sans-serif;
		font-weight:900;
		text-align: center;
		display:flex;
		align-items: center;
		flex-direction: column;
		.divider {
			width:90px;
			border-bottom:5px solid $green;
		}
	}
	&__group__card {
		img {
			width:100%;
			max-width:100%;
		}
		&__content {
			margin-top:20px;
			&__small {
				color:#aaa;
				font-size:15px;
				margin-bottom:15px;
			}
			> h5 {
				font-family: Cairo, sans-serif;
				font-size:20px;
				font-weight:900;
				margin-bottom:10px;
			}
			&__text {
				color:#555;
				font-size:14px;
			}
		}
	}
}


// FOOTER START

.footer {
	background-color:$light;
	margin-top:80px;
	&__bordered {
		border-bottom:1px solid #e1e1e1;
	}
	&__contact {
		&__content {
			li {
				margin-top:15px;
				font-size:14px;
			}
		}
	}
	&__links {
		h5 {
			@extend %h5_footer;
		}
		&__group {
			display:flex;
			> ul {
				flex-basis: 50%;
				font-size:13px;
				> li {
					margin-bottom: 10px;
				}
			}
		}
	}
	&__newsletter {
		h5 {
			@extend %h5_footer;
		}
		p {
			font-size:13px;
		}
		@extend .banner__search;
		form {
			background:white;
			margin-top:25px;
			button {
				width:25%;
			}
		}
		&__icon {
			display:flex;
			justify-content: space-between;
			margin-top:30px;
			width:60%;
			> li {
				border-radius:50%;
				background:white;
				width:40px;
				height:40px;
				text-align: center;
				border:2px solid $light;
				transition:all .3s ease;
				&:hover {
					background:$green;
					border-color:$green;
					> a {
						color:white;
					}
				}
				i {
					line-height:37px;
				}
			}
		}
	}
	&__copyright {
		color:#666;
		font-size:14px;
		a {
			color:#007bff;
			&:hover {
				color:white;
			}
		}
	}
}

span.amount-all-product {
	color:black;
	font-size:20px;
	text-transform: uppercase;
}
// FOOTER END